.topnav {
    background-color: #0F0F0F;
    overflow: hidden;
  }

  .topnav a {
  float: left;
  color: #f2f2f2;
  text-align: justify;
  padding: 30px 16px;
  text-decoration: none;
  font-size: 17px;
  }

  .topnav a:hover {
  background-color: #ddd;
  color: black;
  }

  .topnav-right {
  float: right;
  }

  .imagelogo {
  margin: 0px 10px 0px 10px;

  }

  .box1 {
    width: 626px;
    height: 270px;
    border: solid #5A1515;
    background-color: #5A1515;
    text-align: center;
    text-justify: inter-word;
    position: relative;
    top: 180px;
    border-radius: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 0px 0px 0px 20px;
}

.box4 {
    width: 626px;
    height: 270px;
    border: solid #5A1515;
    background-color: #5A1515;
    text-align: center;
    text-justify: inter-word;
    position: relative;
    top: 220px;
    border-radius: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 0px 0px 0px 20px;
}

.box5 {
    width: 626px;
    height: 270px;
    border: solid #5A1515;
    background-color: #5A1515;
    text-align: center;
    text-justify: inter-word;
    position: relative;
    top: 260px;
    border-radius: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 0px 0px 0px 20px;
}

.box2 {
  width: 200px;
    height: 40px;
    margin: 180px 0px 0px 600px;
    border: solid #9A3131;
    background-color: #9A3131;
    text-align: center;
    text-justify: inter-word;
    font-weight: bold;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.box3 {
  width: 1349px;
    height: 650px;
    margin: 350px 0px 70px 0px;
    border: solid #232D3F;
    background-color: #232D3F;
    text-align: center;
    text-justify: inter-word;
    font-weight: bold;
    position: relative;
}

.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: #0F0F0F; 
  color: white;
  padding: 20px;
  bottom: 0;
  width: 100%;
  height: 210px;
  margin: 400px 0px 0px 0px;
}

.grid {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.grid h3 {
  margin: 0;
  text-align:left ;
}

.grid a {
  color: white;
  text-decoration: none;
  margin: 5px 0;
}

h3{
  text-decoration: underline;
  -webkit-text-decoration-color: red;
  text-decoration-color: red;
  color: #ffff;
}

.tombol {
  float: left;
  position: relative;
  left: 550px;
  top: 60px;
  width: 200px;
  height: 40px;
  background-color: #9A3131;
  color: #ffff;
  border-radius: 20px;
}